.app-container {
  display: flex;
}

.container1 {
  display: flex;
  justify-content: center;
  flex: 1;
  height: 300px;
  background: green;
}

.container2 {
  display: flex;
  flex: 1;
  height: 100px;
  background: blue;
}
